.boutique{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
@media screen and (min-width: 576px){
    .boutique{

        margin: 0 .5rem .5rem .5rem;
    }
    
}
@media screen and (min-width: 1024px){
    .boutique{
        margin: 0 .5rem .5rem .5rem;
    }
    
}
