.navMenu ul {
    margin: 0;
    list-style-type: none;
    z-index: 100;
    color: #fff;
    position: absolute;
    top: 8vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.navMenu {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.navMenu a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    margin: .2rem;
}

.navMenu a:hover {
    cursor: pointer;
}

.navMenu li {
    padding: .5rem
}

.navMenu li:hover {
    backdrop-filter: blur(5px);
}

.logo,
.burger {
    display: inline-block;
    margin: .5rem;
    font-size: 2rem;
    color: red;
    transition: .2s all;
}

.logo:hover,
.burger:hover {
    cursor: pointer;
    color: #ff4b6c;
}
/* 
========================
      BUTTON THREE
========================
*/
.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }
  .btn-three {
      color: #FFF;
      transition: all 0.5s;
      position: relative;
    }
    .btn-three::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(255,255,255,0.1);
      transition: all 0.3s;
    }
    .btn-three:hover::before {
      opacity: 0 ;
      transform: scale(0.5,0.5);
    }
    .btn-three::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 1px solid rgba(255,255,255,0.5);
      transform: scale(1.2,1.2);
    }
    .btn-three:hover::after {
      opacity: 1;
      transform: scale(1,1);
    }
@media screen and (min-width:576px) {
    .navMenu{
        width: 99%;
    }
    .navMenu ul {
        position: static;
        display: flex;
        height: fit-content;
        justify-content: space-between;
    }
    .burger {
        display: none;
    }
}

