.card {
    width: 95%;
    margin: 0 auto;
    min-height: 530px;
    border: .01rem rgb(207, 207, 207) solid;
    border-top: none;
    border-left: none;
    margin-bottom: .5rem;
    background-color: rgba(255, 255, 255,0.5);
    position:relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.card img{
    
    transition: .2s all;
}
.cardImg{
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.45);
}
.cardImg:hover img{
    transform: scale(110%);
}
.cardName{
    color: red;
    font-size: 1.2rem;
    font-weight: 900;
}
.cardPrice{
    margin: .2rem 1rem;
    font-style: oblique; 
}
.promo{
    position: absolute;
    transform: rotate(10deg);
    font-weight: 900;
    font-size: 1.5rem;
    color: red;
    top: 1rem;
    right: 1rem;
}

@media screen and (min-width: 576px){
    .card{
        width: 48%;
        margin: 0 .5rem .5rem .5rem;
    }
    
}
@media screen and (min-width: 1024px){
    .card{
        width: 23%;
        margin: 0;
        margin: 0 .5rem .5rem .5rem;
    }
    
}